@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color:#0f0e42;
}
.mentor-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* center horizontally */
  gap: 2rem; /* spacing between cards */
  padding: 2rem;
}

.picture {
    
  background-color: #00ffd0;
  border-radius: 1rem;
  padding: 1rem;
  width: 250px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.picture img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
  margin-bottom: 1rem;
  border: 4px solid white;
}

.picture h4 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
  margin: 0.5rem 0;
}

.picture p {
  color: #000;
  font-size: 1rem;
  margin: 0;
}
